@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --bright-blue:#5a8bc0;
    --blue:#436b95;
    --dark-blue:#203243;
    --darker-blue:#192835;
    --black:#000000;
    --white:#f4f4f5;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shade:0 .5rem 1rem rgba(0,0,0,.1);
}
*{  
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    background-color:var(--blue) ;
    place-content: center;
    width: 70%;
}
.login-form-container{
    place-content: center;
    top: 1%; left: 0;
    position: fixed;
    width: 50%;
    margin-left: 28%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: -10%;
    
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: var(--dark-blue);
    border: var(--border);
    text-align: center;
    width:  40rem;

}


.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 5rem;
    place-content: center;
}



.login-form-container form .buttons .btn{
    width: 100%;
    margin: .5rem 0;    
    width: 3cm;
    background-color:var(--blue) ;
    color: var(--dark-blue);
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    font-size: 20px;   
}
.login-form-container form .btn1{
    width: 100%;
    margin: .5rem 0;    
    width: 3cm;
    background-color: var(--blue);
    color: var(--dark-blue);
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    font-size: 20px;   
}

.login-form-container form .buttons .btn:hover{
    border: none;
    background-color: var(--darker-blue);
    transition: .1s;
    color: var(--blue);
}
.login-form-container form .btn1:hover{
    border: none;
    background-color: var(--darker-blue);
    transition: .1s;
    color: var(--blue);
}


.login-form-container form h3{
    color: var(--blue);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}


.login-form-container form .box{
    margin: .7rem 0;
    width: 90%;
    text-transform: none;
    color:var(--darker-blue);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
    background-color: var(--bright-blue);
}
.login-form-container form ::placeholder{
    color: white;
}


.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--bright-blue);
}

.login-form-container form p a{
    color:var(--white);
    text-decoration: underline;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}